<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Bansari's Example 1</title>
  </head>
  <body>
    <h3><a href="/">Link to start page</a></h3>
    <h3>Bansari's Sample Form</h3>
    <form id="form_id">
      <label>Name: </label>
      <input name="name" /><br /><br />

      <label>Email: </label>
      <input name="email" /><br /><br />

      <p>Payment Type:</p>
      <input type="radio" name="payment" value="cash" />
      <label>Cash</label><br />
      <input type="radio" name="payment" value="Credit Card" />
      <label>Creadit card</label><br />
      <input type="radio" name="payment" value="Google Pay" />
      <label>Google pay</label><br />
      <input type="radio" name="payment" value="Apple Pay" />
      <label>Apple pay</label><br /><br />

      <input type="checkbox" name="promotion" value="On" />
      <label>Sign me up for special promotions</label><br /><br />

      <label>Preffered Location: </label>
      <select name="location">
        <option value="Los Angeles">Los Angeles</option>
        <option value="Orange County">Orange County</option>
        <option value="Riverside">Riverside</option>
        <option value="San Diego">San Diego</option>
      </select>

      <br /><br />
      <input id="submit" type="submit" value="Submit" />
      <input id="cancel" type="button" value="Cancel" />
    </form>

    <p id="result"></p>

    <script src="/ex1.js"></script>
  </body>
</html>
