<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Bansari's Chapter25 Tutorial</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Bansari's Web Assignment Solution</h1>
    <h2>Links:</h2>
    <a href="/ex1">Order - Process a form</a><br />
    <a href="/ex2">Send JSON to API</a><br />
    <a href="/ex3">Articles - Process a form</a><br />
  </body>
</html>
